$violetColor: hsl(257, 40%, 49%);
$softMagneta: hsl(300, 69%, 71%);
$white: #ffff;
$headingFontFamily: 'Poppins',
sans-serif;
$headingFontWeght: 400;
$bodyFontFamily: 'Open Sans',
sans-serif;
$bodyFontWeight: 400;